# Visual Studio
.vs/
*.user
*.suo

# Build output
x64/
Debug/
Release/
bin/
obj/

# Compiled files
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.lib
*.exp

# Temporary files
*.tmp
*.log

# OS files
Thumbs.db
Desktop.ini